<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item</key>
	<array>
		<dict>
			<key>createtime</key>
			<string></string>
			<key>imageurl</key>
			<string></string>
			<key>bookname</key>
			<string></string>
			<key>id</key>
			<string></string>
		</dict>
		<dict>
			<key>createtime</key>
			<string></string>
			<key>imageurl</key>
			<string></string>
			<key>bookname</key>
			<string></string>
			<key>id</key>
			<string></string>
		</dict>
		<dict>
			<key>createtime</key>
			<string></string>
			<key>imageurl</key>
			<string></string>
			<key>bookname</key>
			<string></string>
			<key>id</key>
			<string></string>
		</dict>
		<dict>
			<key>createtime</key>
			<string></string>
			<key>imageurl</key>
			<string></string>
			<key>bookname</key>
			<string></string>
			<key>id</key>
			<string></string>
		</dict>
		<dict>
			<key>createtime</key>
			<string></string>
			<key>imageurl</key>
			<string></string>
			<key>bookname</key>
			<string></string>
			<key>id</key>
			<string></string>
		</dict>
		<dict>
			<key>createtime</key>
			<string></string>
			<key>imageurl</key>
			<string></string>
			<key>bookname</key>
			<string></string>
			<key>id</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
